{% extends 'shop/basic.html' %}
{% block body %}

<style>
    .small-img-group {
        display: flex;
        justify-content: space-between;
    }

    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
    }
    .sproduct select{
        display: block;
        padding: 5px 10px;
    }
    .sproduct input{
        width: 50px;
        height: 30px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    .sproduct input:focus{
        outline: none;
    }
    .buy-btn{
        background: #2007de;
        opacity: 1;
        transition: 0.3s all;
        color: #fff;
        cursor: pointer;
    }
</style>
<section class="container sproduct my- pt-2">
    <div class="row mt-2">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100 pb-1"
                src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/8/z/4/6-mrj2016-6-aadi-white-parrot-original-imagkjy5hed6qd9r.jpeg?q=70"
                alt="" id="mainimg">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/k/d/e/6-mrj2016-6-aadi-white-parrot-original-imagkjy5zzjhnhp8.jpeg?q=70"
                        width="100%" class="small-img" alt="">
                </div>

                <div class="small-img-col">
                    <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/q/k/o/6-mrj2016-6-aadi-white-parrot-original-imagkjy5hfjpyrhv.jpeg?q=70"
                        width="100%" class="small-img" alt="">
                </div>

                <div class="small-img-col">
                    <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/k/d/e/6-mrj2016-6-aadi-white-parrot-original-imagkjy5zzjhnhp8.jpeg?q=70"
                        width="100%" class="small-img" alt="">
                </div>

                <div class="small-img-col">
                    <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/k/d/e/6-mrj2016-6-aadi-white-parrot-original-imagkjy5zzjhnhp8.jpeg?q=70"
                        width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <h6>Home / Shoes</h6>
            <h3 class="py-4">Men's Fashion Shoes</h3>
            <h2>$139.00</h2>
            <select class="my-3">
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">
            <button class="buy-btn">Add To Cart</button>
            <h4 class="mt-5 mb-5">Product Details</h4>
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, nesciunt! Numquam dignissimos totam
                cupiditate vel architecto magni, atque corporis ducimus voluptates et quasi saepe, possimus deleniti
                accusantium. Obcaecati, laborum libero!</span>

        </div>

    </div>

</section>


<script>
    var mainimg=document.getElementById("mainimg");
    var smallimg=document.getElementsByClassName("small-img");
    smallimg[0].onclick=function()
    {
        mainimg.src=smallimg[0].src;
    }
    smallimg[1].onclick=function()
    {
        mainimg.src=smallimg[1].src;
    }
    smallimg[2].onclick=function()
    {
        mainimg.src=smallimg[2].src;
    }
    smallimg[3].onclick=function()
    {
        mainimg.src=smallimg[3].src;
    }
</script>
{% endblock body %}